<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title">Edit Tag</h4>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-md-2 text-right">
            <label>Original Tag:</label>
        </div>
        <div class="col-md-10">
            <textarea id="orygin" class="form-control" type='text' rows="3" ng-model="editTag.originalTag" ></textarea>
        </div>
    </div>

    <div class="row voffset2">
        <div class="col-md-12">
            <label for="descr">PolyTag:</label>
            <textarea id="descr" class="form-control" type='text' rows="3" ng-model="editTag.polyTag" ></textarea>
        </div>
    </div>

    <div class="row voffset3">
        <div class="col-md-2">

            <label for="dspsid" class="control-label ">DSPs</label>

            <select selectpicker class="selectpicker" data-width="150px" ng-model="editTag.DSPs"  id="dspsid">
                <option>NA</option>
                <option>Nuviad</option>
                <option>Peak226</option>
                <option>Appreciate</option>
                <option>GetIntent</option>
            </select>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    <button type="button" class="btn btn-primary" ng-click="ok()">Save
    </button>
</div>

