<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">

    <title>PolyTag</title>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="common/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="common/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="common/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="common/select2-bootstrap-css/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="common/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="common/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" type="text/css" href="common/angular-bootstrap-datetimepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="polytag.css">

    <script src="config"></script>

    <script src="common/browserGuard.js"></script>

    <script src="common/jquery/dist/jquery.min.js"></script>
    <script src="common/jquery.cookie/jquery.cookie.js"></script>
    <script src="common/underscore/underscore-min.js"></script>
    <script src="common/jquery-ui/jquery-ui.min.js"></script>
    <script src="common/angular/angular.min.js"></script>
    <script src="common/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="common/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="common/ConfigLoader.js"></script>
    <script src="common/CommonUtilites.js"></script>
    <script src="common/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="common/angular-ui-ace/ui-ace.min.js"></script>
    <script src="common/moment/min/moment.min.js"></script>
    <script src="common/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="common/angular-ui-select/dist/select.min.js"></script>
    <script src="common/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="common/angular-cookies/angular-cookies.min.js"></script>
    <script src="common/angular-base64/angular-base64.min.js"></script>
    <script src="common/ng-idle/angular-idle.min.js"></script>
    <script src="common/ng-file-upload/ng-file-upload.min.js"></script>

    <script src="js/directives/SelectPickerDirective.js"></script>
    <script src="js/directives/ResizableDirective.js"></script>

    <script src="js/controllers/ListOfTags.js"></script>

    <script src="js/controllers/main.js"></script>
</head>

<body ng-app="polytags" ng-controller="MainController">

<div class="container">
    <div class="row voffset2 page-header">
        <div class="col-md-10">
            <h3>
                <img src="images/image001.png"> &nbsp;&nbsp;<span style="vertical-align: sub">PolyTag</span>
            </h3>
        </div>

        <div class="col-md-2 text-right" ng-show=true style="vertical-align:middle;height: 60px">
            <br/>
            <b>UserName &nbsp;&nbsp;</b>
            <button class="btn btn-default btn-sm" ng-click="logout()">Logout</button>
        </div>
    </div>


    <div class="row voffset4">

        <accordion close-others="false" ng-show=true>

            <!-- Select snippet Panel -->

            <accordion-group is-open="isOpen[0]">

                <accordion-heading ng-click="isOpen[0]=!isOpen[0]">
                    <div>
                        List of tags
                    </div>
                </accordion-heading>

                <div ng-include="'templates/ListOfTags.html'"></div>

            </accordion-group>


        </accordion>
    </div>
</div>

</body>
</html>