<div ng-controller="CodeEditor">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="row">
        <div class="col-md-4">
            <label>Code Language:</label>

            <select selectpicker data-width="160px" ng-model="selectedLanguage">
                <option>BeanShell</option>
                <option>Python</option>
                <option>Groovy</option>
                <option>JavaScript</option>
            </select>
        </div>

        <div class="col-md-4">
            <button class="btn btn-default" ng-click="isHelpCollapsed = !isHelpCollapsed" ng-show="isHelpCollapsed">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Show
                Help
            </button>
            <button class="btn btn-default" ng-click="isHelpCollapsed = !isHelpCollapsed" ng-hide="isHelpCollapsed">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Hide
                Help
            </button>
            <button class="btn btn-default" type="button" ng-click="toggleInvisibles()"
                    title="Show/Hide White Space Characters">¶
            </button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="onSave(true)"
                    ng-disabled="!isSaveEnabled()">
                Save
            </button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="onSave(false)"
                    ng-disabled="!isReleaseEnabled()">
                Release new version
            </button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12" collapse="isHelpCollapsed">
            <div class="well">
                <p>
                    <b>Resource versioning</b><br>
                    The versioned resources are read-only. Only the description can be updated or the whole resource can
                    be deleted. <br>
                    To create a new version of the resource, press the <b>Release new version</b> button.

                    With the <b>Save</b> button you can save only to the current/default ("trunk") version of the
                    resource
                    even if you have selected some higher version.<br>
                </p>

                <p><b>The following variables are available in the snippet context:</b><br>
                    <code>query</code> -- contains all query params as map (e.g. dict in Python, Map[String, String] in
                    BeanShell, map in Groovy).
                    You can modify the query parameters map in the "Transform Query" script, but in the "Transform
                    Entity" script it is read-only<br>

                    <code>entity</code> -- the single item as map to be transformed. You should put the results back
                    into it. Available
                    only in the Transform Entity Script<br>
                </p>

                <p>
                    <b>The following utilities are available in the snippet context:</b><br>

                    <code>Log.debug("message")</code> -- adds the debug message to the resource log, also available <b>Log.warning,
                    Log.error, Log.info</b><br><br>

                    <code>Http.query('hostAlias/resource', params_as_map)</code> -- returns the result of querying
                    of the given host by alias ('bespoke', 'cloud-api', 'ss-api') or real name (e.g.
                    'https://some.existing.host:8030'),
                    with resource path and given parameters as a map. e.g. <b>Http.query("cloud-api/securities/issuers",
                    {'search': '{"id" : "123123312"}'})</b><br>
                    The result is returned as map <code>{"status":200, body: "response body"}</code><br>
                    If the resource responds with the header "Content-Type": "application/json",
                    the body will be parsed to map automatically, otherwise it will be returned as string.
                    Note: in JavaScript the result is returned as string instead of map. Use JSON.parse(...) to convert the result to js object<br><br>

                    <code>Http.get(url)</code> -- Same as Http.query, but works with absolute urls<br>

                    <code>Http.str2json(str)</code> -- parse the json string to map. Note: doesn't work with JavaScript, use JSON.parse(...) instead<br>
                    <code>Http.json2str(someObject)</code> -- write the object(usually some map) as json string<br><br>

                    Any exceptions are handled by the application
                </p>

                <p>
                    <b>How to fill the path parameters</b><br>

                    If the resource url contains path variables, they will be populated from the query parameters. The
                    rest of the parameters will be appended to the url as query parameters.<br>
                    E.g. for the resource <code>ss-api/matcheddelta/{subscriptionType}/{subscriptionId}</code> you will
                    need to provide the 'subscriptionType' and 'subscriptionId'
                    either in the Transform Query Script ( <code>query["subscriptionType"] = "MyType"</code> ), or in
                    the 'Execute Request' tab using url parameters (
                    <code>subscriptionType=MyType&subscriptionId=myId</code>).
                </p>

            </div>
        </div>
    </div>

    <div class="row voffset2">
        <div class="col-md-12">
            <button class="btn btn-default" ng-click="isQueryCollapsed = !isQueryCollapsed">Transform Query Script:
            </button>

            <div class="voffset1" collapse="isQueryCollapsed">
                <div class="editor codeEditor" ui-ace="{{aceConfig}}" ng-model="queryCode" id="editorQuery" resizable
                     on-resize="resizeEditor('#editorQuery')" style="width:1150px;height:100px"></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <label for="editorQuery" class="control-label col-md-2">Resource to query:</label>

            <div class="col-md-10">
                <ui-select ng-model="querySource.selected" ng-change="querySourceChanged()" theme="select2"
                           style="width: 100%">
                    <ui-select-match placeholder="Select a resource to query">{{$select.selected.path}}
                    </ui-select-match>
                    <ui-select-choices repeat="res in resources | filter:$select.search">
                        <div ng-bind-html="res.path | highlight: $select.search"></div>
                        <small>
                            {{res.description}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-12 voffset1">
            <label for="descr" class="col-md-2 control-label">Description:</label>

            <div class="col-md-10">
                <input type='text' readonly class="form-control" id="descr"
                       ng-value="querySource.selected.description">
            </div>
        </div>
    </div>

    <hr>

    <div class="row voffset2">

        <div class="col-md-12">
            <button class="btn btn-default" ng-click="isEntityCollapsed = !isEntityCollapsed">
                Transform Entity Script:
            </button>
            <div class="voffset1" collapse="isEntityCollapsed">
                <div class="editor codeEditor" ui-ace="{{aceConfig}}"
                     ng-model="entityCode" id="editor" resizable
                     on-resize="resizeEditor('#editor')" style="width:1150px;height:300px"></div>
            </div>
        </div>
    </div>

</div>