<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title" ng-hide="isEditMode">Create new resource</h4>
    <h4 class="modal-title" ng-show="isEditMode">Edit resource</h4>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-md-2 text-right">
            <label>bespoke/</label>
        </div>
        <div class="col-md-10">
            <input id="path" class="form-control" type='text' value=""
                   placeholder="Resource path"
                   maxlength="{{newSnippet.snippetPathMaxLength}}"
                   ng-model="newSnippet.path" required ng-disabled="isEditMode">
        </div>
    </div>

    <div class="row voffset2">
        <div class="col-md-12">
            <label for="descr">Description:</label>
            <textarea id="descr" class="form-control" type='text' rows="3" ng-model="newSnippet.description" maxlength="{{newSnippet.snippetDescMaxLength}}"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    <button type="button" class="btn btn-primary" ng-disabled="isInvalidValidPath()" ng-hide="isEditMode" ng-click="ok()">Save
    </button>
    <button type="button" class="btn btn-primary" ng-show="isEditMode" ng-click="ok()">Update
    </button>
</div>

