<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title">Enter the base resource path for the examples</h4>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-md-2 text-right">
            <label>bespoke/</label>
        </div>
        <div class="col-md-10">
            <input id="path" class="form-control" type='text' value=""
                   placeholder="Resource path"
                   ng-model="path" required>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    <button type="button" class="btn btn-primary" ng-disabled="isInvalidValidPath()" ng-click="ok()">Ok</button>
</div>

