<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title" ng-hide="isEditMode">Spawn new worker</h4>
    <h4 class="modal-title" ng-show="isEditMode">Edit worker tags</h4>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-md-2">
            <label for="port">Host</label>
        </div>
        <div class="col-md-10">
            <input id="host" class="form-control" type="text" value=""
                   placeholder="Host name"
                   ng-model="newWorker.host" disabled>
        </div>
    </div>
    <div class="row voffset2">

        <div class="col-md-2">
            <label for="port">Port</label>
        </div>
        <div class="col-md-10">
            <input id="port" class="form-control" type="text" value=""
                   placeholder="Comma-separated list of ports and/or port ranges"
                   ng-model="newWorker.port" required ng-disabled="isEditMode">
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    <button type="button" class="btn btn-primary"
            ng-disabled="isInvalidValidPort()" ng-hide="isEditMode" ng-click="ok()">Spawn</button>

    <button type="button" class="btn btn-primary" ng-show="isEditMode" ng-click="ok()">Update</button>
</div>

