.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.voffset250 { margin-top: 250px; }


.editor {
    font-size: 16px!important;
}

.modal-dialog-center {
    margin-top: 15%;
}

.md-scrollable {
    max-height: 600px;
    overflow-y: scroll;
}

.datepicker-length {
    width: 250px;
}

div[resizable] {
    border: 1px solid #d3d3d3;
  //  border-radius: 4px;
}

.glyphicon-question-sign {
    color: darkgray;
}

.ui-resizable-helper { border: 1px dotted #00F; }

.tag, .tag-default {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}

.tag-default {
  color: #777;
  background-color: #fff;
  font-style: italic;
}